@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alimama";
  src: url("/alimama.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
